*.iml

ExerciseAPIapp/app/build

ExerciseAPIapp/\.gradle

ExerciseAPIapp/\.idea/caches

ExerciseAPIapp/\.idea/libraries

ExerciseAPIapp/\.idea/codeStyles

ExerciseAPIapp/\.idea/gradle\.xml

ExerciseAPIapp/\.idea/misc\.xml

ExerciseAPIapp/\.idea/modules\.xml

ExerciseAPIapp/\.idea/runConfigurations\.xml

ExerciseAPIapp/\.idea/vcs\.xml

ExerciseAPIapp/\.idea/workspace\.xml

ExerciseAPIapp/app/app\.iml

ExerciseAPIapp/ExerciseAPIapp\.iml

*local\.properties

ExerciseAPIapp/\.idea/encodings\.xml

ExerciseAPIapp/\.gradle